/* importing google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal Style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
    font-optical-sizing: auto;
}

/* shared Styles */

.btn-main{
    /* width: 160px;
    height: 64px; */
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    text-align: right;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px 25px;
    border: none;
    cursor: pointer;

}

.btn-main:hover{
    padding: 20px 30px;
}

/* Header section */

header{
    background-image: url(/images/banner/banner1.png);
    height: 808px;
    margin-bottom: 140px;
}

.banner-section{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding-right: 180px;
}

.banner-content{
    max-width: 480px;
    text-align: right;
}

.banner-heading{
    color: var(--Dark-01, #151414);
    font-size: 65px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.banner-content p{
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 32px;
}

/* Hero Section */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}