/* importing google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal Style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
    font-optical-sizing: auto;
}

/* shared Styles */

.btn-main{
    /* width: 160px;
    height: 64px; */
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    text-align: right;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px 25px;
    border: none;
    cursor: pointer;

}

.btn-main:hover{
    padding: 20px 30px;
}

/* Header section */

header{
    background-image: url(/images/banner/banner1.png);
    height: 808px;
    margin-bottom: 140px;
}

.banner-section{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding-right: 180px;
}

.banner-content{
    max-width: 480px;
    text-align: right;
}

.banner-heading{
    color: var(--Dark-01, #151414);
    font-size: 65px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.banner-content p{
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 32px;
}

/* Hero Section */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.hero-img img{
    width: 100%;
}

.hero-img, .hero-content{
    width: 40%;
}

.hero-content h2{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    color: #151414;
    margin-bottom: 24px;
}

.hero-content p{
    font-size: 16px;
    color: #151414;
    margin-bottom: 16px;
}

.hero-content ul li{
    font-size: 16px;
    color: #151414;
    margin-bottom: 16px;
    margin-left: 25px;
}

/* Plan section */

.plans{
    width: 71%;
    max-width: 1140px;
    margin: 120px auto;
}

.plans h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    letter-spacing: 0;
    margin-bottom: 50px;
}

.plans .plans-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plans-card{
    text-align: center;
}

.plans-card img{
    width: 92px;
    height: 92px;
}

.plans-card h3{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    margin: 16px 0;
}

.plans-card p{
    font-weight: 500;
    color:#737272;
}

/* motivation */

.motivation{
    background: linear-gradient(90deg, #437dcf 0%, rgba(241, 91, 34, 0.00) 100%), url("/images/watch.png");
    background-repeat: no-repeat;
    padding: 60px;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 130px;
    background-position: center;
    border-radius: 8px;
}

.motivation-content{
    max-width: 60%;
}

.motivation-content h1{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0;
    margin-bottom: 24px;
}